<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <header>
        <h1>Header</h1>
        <nav>
            <a>Home</a>
            <a>About</a>
        </nav>
    </header>

    @RenderBody()

    <footer style="color:red">
        Footer
    </footer>

</body>
</html>