<!DOCTYPE html>
<html>
<head>
    <title>Page Title</title>
</head>
<body>

    <header>
        <h1>Header</h1>
    </header>
    <h3 style="color:red">
        Error: @TempData["ErrorMessage"]
    </h3>


    <footer>
        Footer
    </footer>

</body>
</html>